.form {
  max-width: 80rem;
  width: 100%;
  margin: 0 auto;
  margin-top: 2rem;
}

.btn_register {
  font-size: 4rem;
}

.alert_error {
  font-size: 2.1rem;
  line-height: 100%;
  opacity: 0.8;
  max-width: 50%;
  margin-top: 1rem;
}
